<div class="site">

  <main class="site__main">

    <section class="site__entry site__entry--map"></section>

    <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="family-heading text-center color-violet-dark">Platforma Žijem vedu</h1>
            <p class="text-uppercase text-center color-violet-dark">Pre všetky odbory, pre vedkyne a vedcov doma i v zahraničí</p>
          </div>
          <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="d-flex f justify-content-center">
              <ul class="list-brand">
                <li>Zaujíma vás, čomu sa aktuálne venujú iní (nielen) slovenskí vedci?</li>
                <li>Hľadáte nových spolupracovníkov?</li>
                <li>Máte zaujímavú tému výskumu a radi by ste o nej dali prednášku?</li>
                <li>Ponúkate stáž pre študentov alebo si chcete skúsiť mentorovanie?</li>
                <li>Viete o voľnej pozícii na svojom ústave?</li>
                <li>Rozmýšľate, kam na stáž alebo kde pokračovať v kariére či v štúdiu?</li>
              </ul>
            </div>
            <div class="d-flex f justify-content-center p-3">
              <p class="color-violet-dark">Platforma Žijem vedu, postavená na fínsko-slovenskom riešení Solved.fi, pomáha slovenským a zahraničným vedkyniam a vedcom, ako aj odbornej verejnosti efektívnejšie komunikovať a spolupracovať. </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5">
      <div class="container">
        <h3 class="text-center mb-4">Čo vám platforma Žijem vedu ponúka</h3>

        <div class="row pt-4">
          <div class="col-12 col-md-6 col-lg-3">
            <div class="feature">
              <div class="feature__image"><img src="{{ base_path ~ directory }}/img/member_placeholder.png" alt=""></div>
              <h4 class="family-heading">Komunita</h4>
              <p>Zdieľajte poznatky, názory, skúsenosti a diskutujte s komunitou vedcov a vedkýň z celého sveta.</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="feature">
              <div class="feature__image"><img src="{{ base_path ~ directory }}/img/member_placeholder.png" alt=""></div>
              <h4 class="family-heading">Inter­disciplinarita</h4>
              <p>Ak potrebujete vo svojej kažodennej práci komunikovať a spolupracovať s vedcami z iných odborov, platforma vám túto možnosť ponúkne.</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="feature">
              <div class="feature__image"><img src="{{ base_path ~ directory }}/img/member_placeholder.png" alt=""></div>
              <h4 class="family-heading">Aktuálne dianie vo vede</h4>
              <p>Zaujíma vás, čo sa deje v slovenskej či svetovej vede? Zaregistrujte sa a získajte aktuálne informácie od vedcov samotných, nielen z médií a odborných článkov.</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="feature">
              <div class="feature__image"><img src="{{ base_path ~ directory }}/img/member_placeholder.png" alt=""></div>
              <h4 class="family-heading">Vlastné projekty</h4>
              <p>Na platforme si môžete vytvárať samostatné projekty, ktoré budete viesť, a pozývať do nich aj ďalšie kolegyne a kolegov.</p>
            </div>
          </div>
        </div>
        <!--
        <div class="row pt-4 justify-content-center">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="feature">
                    <div class="feature__image"><img src="{{ base_path ~ directory }}/img/member_placeholder.png" alt=""></div>
                    <h4 class="family-heading">Komunita</h4>
                    <p>Zdieľajte poznatky, názory, skúsenosti a diskutujte s komunitou vedcov a vedkýň z celého sveta.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="feature">
                    <div class="feature__image"><img src="{{ base_path ~ directory }}/img/member_placeholder.png" alt=""></div>
                    <h4 class="family-heading">Inter­disciplinarita</h4>
                    <p>Zdieľajte poznatky, názory, skúsenosti a diskutujte s komunitou vedcov a vedkýň z celého sveta.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="feature">
                    <div class="feature__image"><img src="{{ base_path ~ directory }}/img/member_placeholder.png" alt=""></div>
                    <h4 class="family-heading">Komunita</h4>
                    <p>Zdieľajte poznatky, názory, skúsenosti a diskutujte s komunitou vedcov a vedkýň z celého sveta.</p>
                </div>
            </div>
        </div>
        -->

      </div>
    </section>

    <section class="py-5">
      <div class="container">
        <h3 class="text-center mb-4">Ako to funguje</h3>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="d-flex align-items-center py-2">
              <div class="label-number">1</div>
              <p class="mb-0 text-muted">Registruj sa na platforme a vyplň formulár, dôležité sú aj kľúčové slová tvojho zamerania a výskumu.</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="d-flex align-items-center py-2">
              <div class="label-number">2</div>
              <p class="mb-0 text-muted">Pozri si projekty na platforme a pridaj sa k tým, ktoré ťa zaujali.</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="d-flex align-items-center py-2">
              <div class="label-number">3</div>
              <p class="mb-0 text-muted">A ži vedu!  Budeš mať možnosť zapojiť sa do jednotlivých tém a interagovať s ostanými vedcami na platforme.</p>
            </div>
          </div>
        </div>
        <div class="d-flex pt-4 pb-3 justify-content-center">
          <a href="https://zijemvedu.solved.fi/register" class="btn btn-md btn-gradient-outline"><span>REGISTROVAŤ SA </span> <i class="fas fa-arrow-right"></i></span></a>
        </div>
      </div>
    </section>

    <section class="py-5">
      <div class="container-fluid">
        {{ page.members_block }}
      </div>
    </section>

    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-6 offset-xl-3"><div class="separator"></div></div>
      </div>
    </div>

  </main>

  <footer class="site__footer">

    <div class="footer__upper">

      <div class="media">
        <div class="container">

          {{ page.newsletter_block }}

          <div class="row py-5">
            <div class="col-xl-6 offset-xl-3">
              {{ page.followus_block }}
            </div>
          </div>
        </div>
      </div>

      {{ page.partners_block }}

    </div>

    {{ footer_lower }}

  </footer>
</div>
