<div class="member">
  <a href="{{ url }}">
  {{ content.field_fotografia }}
  <p class="fw-bold color-violet mb-0">{{ label }}</p>
    <span class="member__meta">{{ content.field_clen_email }}</span>
  <span class="member__meta">{{ content.field_aktivity }}</span>
  </a>
</div>
