 <a href="{{ url }}" class="article__block">
      <div class="article__image">
        <figure>
          <img src="{{ file_url(node.field_obrazky.0.entity.uri.value | image_style('maly_obrazok_k_clanku')) }}" alt="{{ label }}">
        </figure>
      </div>
      <div class="article__content">
        <strong class="article__tag color-gold">Galéria</strong>
        <h4 class="family-heading mb-2 color-violet">{{ label }}</h4>
        <div class="mb-1 label-base">{{ node.created.value|date('d. m. Y') }}</div>
        {% set conBody %}
          {{ content.body }}
        {% endset %}
        <p class="article__excerpt mb-auto">{{ conBody|striptags }}</p>
      </div>
    </a>

