<div class="col-12 col-lg-6">
  <a href="{{ url }}" class="event__block">
    <div class="event__image">
      <figure>
        <img src="{{ file_url(node.field_image.entity.fileuri) }}" alt="{{ node.field_image.alt }}">
      </figure>
    </div>
    <div class="event__content">
      <div class="d-flex align-items-center mb-2 fs-7 text-muted"><span class="label-gradient">{{ node.field_zaciatok.0.value|date('d. m. Y') }}</span> {{ node.field_miesto_konania_kratko.0.value }}</div>
      <h4 class="family-heading mb-2 color-violet">{{ label }}</h4>
      {% set conBody %}
        {{ content.body }}
      {% endset %}
      <p class="mb-auto">{{ conBody|striptags }}</p>
    </div>
  </a>
</div>
