<a href="{{ url }}" class="article__block">
  <div class="article__image">
    <figure>
      <img src="{{ file_url(node.field_image.entity.fileuri) }}" alt="{{ node.field_image.alt }}">
    </figure>
  </div>
  <div class="article__content">
    <strong class="article__tag color-gold">{{ content.field_kategoria }}</strong>
    <h4 class="family-heading mb-2 color-violet">{{ label }}</h4>
    <div class="mb-1 label-base">{{ date.value|date('d. m. Y') }}</div>
    <p class="article__excerpt mb-auto">{{ content.body }}</p>
    <p class="article__excerpt mb-auto">{{ content.field_popis }}</p>
  </div>
</a>
