<div class="col-xl-4 offset-xl-3">
  {{ title_suffix }}
  <h2 class="mb-2">{{ variables.label }}</h2>
  <p class="fs-5">{{ variables.zv_block_content }}</p>
</div>
<div class="col">
  <a href="{{ variables.zv_block_link }}" class="btn btn-xl btn-gradient btn-double">{{ variables.zv_block_link_text|raw }}</a>
</div>
