<li class="{{ class }}"><a href="https://twitter.com/zijemvedu"><i class="fab fa-2x fa-twitter"></i></a></li>
<li class="{{ class }}"><a href="https://www.instagram.com/zijemvedu"><i class="fab fa-2x fa-instagram"></i></a></li>
<li class="{{ class }}"><a href="https://www.linkedin.com/company/zijem-vedu/"><i class="fab fa-2x fa-linkedin"></i></a></li>
<li class="{{ class }}"><a href="https://www.facebook.com/zijemvedu"><i class="fab fa-2x fa-facebook"></i></a></li>
<li class="{{ class }}"><a href="/feed/podcast"><i class="fas  fa-2x fa-podcast"></i></a></li>
